{% extends 'templates/app.twig' %}

{% block content %}
    <main class="mt-5">
        <section>
            <div class="container">
                <h1>Modifier vos informations</h1>

                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="card">
                            <div class="card-body">
                                {% include 'dashboard/partials/sidebar.twig' %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-9">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4>Informations Personnelles</h4>
                                <form action="{{ path_for('user.update.info', {username: user.username}) }}" method="post">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="first_name">Prénom</label>
                                                <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="last_name">Nom</label>
                                                <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="phone_number">Numéro de téléphone</label>
                                                <input type="tel" name="phone_number" id="phone_number" value="{{ user.phone_number }}" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-goup">
                                                <label for="address">Adresse</label>
                                                <input type="text" name="address" id="address" value="{{ user.address }}" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="nationality">Nationalité</label>
                                                <input type="tel" name="nationality" id="nationality" value="{{ user.nationality }}" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-goup">
                                                <label for="gender">Sexe</label>
                                                <select name="gender" id="gender" class="form-control">
                                                    <option value="">Sexe</option>
                                                    <option value="M">Homme</option>
                                                    <option value="F">Femme</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
