{% extends 'templates/app.twig' %}

{% block content %}
    <main id="home">
        <!-- Banner Section -->
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <h1>Hub Experts</h1>
                        <p>Vous êtes expert dans votre domaine? Inscrivez-vous à notre Hub Experts pour une plus grande visibilité sur le marché du travail au Mali</p>
                        <a href="{{ path_for('auth.register') }}" class="btn btn-light btn-lg shadow-sm">Inscrivez-vous</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tutorial Section -->
        <section class="how">
            <div class="container">
                <h2>Comment ça marche?</h2>

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4>Inscrivez-vous</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius beatae iusto, magni perspiciatis molestiae doloremque nemo illum ab, optio obcaecati possimus expedita facilis modi. Nemo rem repellat ducimus et.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4>Nous faisons le matching</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius beatae iusto, magni perspiciatis molestiae doloremque nemo illum ab, optio obcaecati possimus expedita facilis modi. Nemo rem repellat ducimus et.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4>Recevez des offres</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius beatae iusto, magni perspiciatis molestiae doloremque nemo illum ab, optio obcaecati possimus expedita facilis modi. Nemo rem repellat ducimus et.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
