{% extends 'templates/app.twig' %}

{% block content %}
    <main class="mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path_for('auth.login') }}" method="post">
                            <div class="form-group">
                                <label for="email">Email ou Pseudo</label>
                                <input type="text" name="email" id="email" value="{{ old.email }}" class="form-control{{ has_error('email') ? ' is-invalid' : '' }}">
                                {% if has_error('email') %}
                                    <span class="invalid-feedback">
                                        {{ error('email') }}
                                    </span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="password" id="password" class="form-control{{ has_error('password') ? ' is-invalid' : '' }}">
                                {% if has_error('password') %}
                                    <span class="invalid-feedback">
                                        {{ error('password') }}
                                    </span>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-success">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
