{% extends 'templates/app.twig' %}

{% block content %}
    <main class="mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path_for('auth.register') }}" method="post">
                            <div class="form-group">
                                <label for="first_name">Prenom *</label>
                                <input type="text" name="first_name" id="first_name" value="{{ old.first_name }}" class="form-control{{ has_error('first_name') ? ' is-invalid' : '' }}">
                                {% if has_error('first_name') %}
                                    <span class="invalid-feedback">
                                        {{ error('first_name') }}
                                    </span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="last_name">Nom *</label>
                                <input type="text" name="last_name" id="last_name" value="{{ old.last_name }}" class="form-control{{ has_error('first_name') ? ' is-invalid' : '' }}">
                                {% if has_error('last_name') %}
                                    <span class="invalid-feedback">
                                        {{ error('last_name') }}
                                    </span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="username">Pseudo *</label>
                                <input type="text" name="username" id="username" value="{{ old.username }}" class="form-control{{ has_error('username') ? ' is-invalid' : '' }}">
                                {% if has_error('username') %}
                                    <span class="invalid-feedback">
                                        {{ error('username') }}
                                    </span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" name="email" id="email" value="{{ old.email }}" class="form-control{{ has_error('email') ? ' is-invalid' : '' }}">
                                {% if has_error('email') %}
                                    <span class="invalid-feedback">
                                        {{ error('email') }}
                                    </span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="password">Mot de passe *</label>
                                <input type="password" name="password" id="password" class="form-control{{ has_error('password') ? ' is-invalid' : '' }}">
                                {% if has_error('password') %}
                                    <span class="invalid-feedback">
                                        {{ error('password') }}
                                    </span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="confirm_password">Confirmer mot de passe *</label>
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control{{ has_error('confirm_password') ? ' is-invalid' : '' }}">
                                {% if has_error('confirm_password') %}
                                    <span class="invalid-feedback">
                                        {{ error('confirm_password') }}
                                    </span>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-success">Inscription</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
