{% extends 'templates/admin.twig' %}

{% block content %}
    <main>
        <div class="container">
            <h1>Liste des experts inscrit</h1>

            {% if experts.count %}
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-sm table-responsive-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nom et Prenom</th>
                                    <th>Email</th>
                                    <th>Date d'inscription</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pro in experts %}
                                    <tr>
                                        <td>{{ pro.getFullName() }}</td>
                                        <td>{{ pro.email }}</td>
                                        <td>
                                            <i class="fa fa-calendar"></i>
                                            {{ pro.created_at|date('j F Y') }}
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-light shadow-sm">
                                                <i class="fa fa-eye"></i>
                                                Aperçu
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <p>No records found</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
