<aside>
    <ul>
        <li>
            <a href="{{ path_for('dashboard', {username: auth.user.username}) }}">
                Tableau de bord
            </a>
        </li>
        <li>
            <a href="#">Expériences</a>
            <ul>
                <li>
                    <a href="{{ path_for('dashboard.experiences.new', {username: auth.user.username}) }}">
                        Ajouter
                    </a>
                    </li>
            </ul>
        </li>
        <li>
            <a href="#">Etudes</a>
            <ul>
                <li>
                    <a href="{{ path_for('dashboard.studies.new', {username: auth.user.username}) }}">
                        Ajouter
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
