{% extends 'templates/dashboard.twig' %}

{% block content %}
    <main class="mt-5">
        <div class="container">
            <h1>Ajouter Etude</h1>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {% include 'dashboard/partials/sidebar.twig' %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="{{ path_for('dashboard.studies.new', {username: auth.user.username}) }}" method="post">
                                <div class="form-group">
                                    <label for="school">Ecole</label>
                                    <input type="text" name="school" id="school" value="{{ old.school }}" class="form-control{{ errors.school ? ' is-invalid' : '' }}">
                                    {% if errors.school %}
                                        <span class="invalid-feedback">{{ errors.school|first }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label for="major">Specialisation</label>
                                    <input type="text" name="major" id="major" value="{{ old.major }}" class="form-control{{ errors.major ? ' is-invalid' : '' }}">
                                    {% if errors.major %}
                                        <span class="invalid-feedback">{{ errors.major|first }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label for="degree">Diplome</label>
                                    <input type="text" name="degree" id="degree" value="{{ old.degree }}" class="form-control{{ errors.degree ? ' is-invalid' : '' }}">
                                    {% if errors.degree %}
                                        <span class="invalid-feedback">{{ errors.degree|first }}</span>
                                    {% endif %}
                                </div>

                                <div class="alert alert-info">Date de debut</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="start_day">Jour</label>
                                            <select name="start_day" id="start_day" class="form-control">
                                                {% include 'partials/days.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="start_month">Mois</label>
                                            <select name="start_month" id="start_month" class="form-control">
                                                {% include 'partials/months.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="start_year">Annee</label>
                                            <select name="start_year" id="start_year" class="form-control">
                                                {% include 'partials/years.twig' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="alert alert-info">Date d'obtension</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="graduation_day">Jour</label>
                                            <select name="graduation_day" id="graduation_day" class="form-control">
                                                {% include 'partials/days.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="graduation_month">Mois</label>
                                            <select name="graduation_month" id="graduation_month" class="form-control">
                                                {% include 'partials/months.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="graduation_year">Annee</label>
                                            <select name="graduation_year" id="graduation_year" class="form-control">
                                                {% include 'partials/years.twig' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
