{% extends 'templates/dashboard.twig' %}

{% block styles %}
    <style>
        .avatar {
            width: 75px;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card text-white bg-info mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <p>{{ user.getFullName() }}</p>
                                    <img src="{{ user.image }}" alt="{{ user.getFullName() }}'s Avatar" class="avatar">
                                </div>

                                <div class="col-sm-12 col-md-3">
                                    <p>
                                        <i class="fa fa-flag"></i>
                                        {{ user.nationality }}
                                    </p>
                                    <p>
                                        <i class="fa fa-map-marker"></i>
                                        {{ user.address }}
                                    </p>
                                    <p>
                                        {% if user.gender %}
                                            <i class="fa fa-user"></i>
                                            {{ (user.gender == 'M') ? 'Homme' : 'Femme' }}
                                        {% endif %}
                                    </p>
                                </div>

                                <div class="col-sm-12 col-md-3">
                                    <p>
                                        <i class="fa fa-phone"></i>
                                        {{ user.phone_number }}
                                    </p>
                                    <p>
                                        <i class="fa fa-envelope"></i>
                                        {{ user.email }}
                                    </p>
                                </div>

                                <div class="col-sm-12 col-md-3">
                                    {% if auth.user.id == user.id %}
                                        <a href="{{ path_for('user.edit', {username: user.username}) }}" class="btn btn-warning">
                                            <i class="fa fa-pencil"></i>
                                            Modifier Profile
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    {% if auth.user.id == user.id %}
                        <div class="card">
                            <div class="card-body">
                                {% include 'dashboard/partials/sidebar.twig' %}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-12 col-md-9">
                    <div class="card mb-4">
                        <div class="card-header">Expériences</div>
                        <div class="card-body">
                            {% if user.experiences.count %}
                                {% for experience in user.experiences %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p>Société: {{ experience.company }}</p>
                                            <p>Rôle: {{ experience.position }}</p>
                                            <p>Tâches: {{ experience.tasks }}</p>
                                            <p>Date: {{ experience.started_at|date('j F Y') }} - {{ experience.finished_at|date('j F Y') }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>
                                    Veuillez ajouter vos expériences.
                                    <a href="{{ path_for('dashboard.experiences.new', {username: auth.user.username}) }}">Ajouter</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">Etudes</div>
                        <div class="card-body">
                            {% if user.studies.count %}
                                {% for study in user.studies %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p>Ecole: {{ study.school }}</p>
                                            <p>Cursus: {{ study.major }}</p>
                                            <p>Diplôme: {{ study.degree }}</p>
                                            <p>Date: {{ study.started_at|date('j F Y') }} - {{ study.graduated_at|date('j F Y') }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>
                                    Veuillez ajouter vos études.
                                    <a href="{{ path_for('dashboard.studies.new', {username: auth.user.username}) }}">Ajouter</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">Langues</div>
                        <div class="card-body">
                            <p>Français</p>
                            <p>Anglais</p>
                            <p>Espagnol</p>
                            <p>Chinois</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
