// Variables
@import "variables";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto');

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Font Awesome
@import "../../../node_modules/font-awesome/scss/font-awesome";

html,
body {
    font: normal 14px/1.48 "Roboto", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.sidebar {
    background: #479ed3;
    color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 50px;
    width: 250px;
}
