// Variables
@import "variables";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto');

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Font Awesome
@import "../../../node_modules/font-awesome/scss/font-awesome";

html,
body {
    font: normal 15px/1.48 "Roboto", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#home {
    .banner {
        background: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/site/banner_bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        color: #fff;
        height: 400px;
        padding-top: 6rem;
    }
    .how {
        padding: 2rem 0;
    }

    .partners {
        padding: 2rem 0;
    }

    .newsletter {
        padding: 2rem 0;
    }
}

#admin {

}

.footer {
    background: #479ed3;
    color: #fff;
    padding: 2rem 0;

    a {
        color: #cf9903;
    }
}
