{% extends 'templates/dashboard.twig' %}

{% block content %}
    <main class="mt-5">
        <div class="container">
            <h1>Expériences</h1>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {% include 'dashboard/partials/sidebar.twig' %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9">
                    {% if expression.count %}
                        {% for experience in experience %}
                            <div class="card">
                                <div class="card-body">
                                    <h4>Experience</h4>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No records found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
