{% extends 'templates/dashboard.twig' %}

{% block content %}
    <main class="mt-5">
        <div class="container">
            <h1>Ajouter Expérience</h1>

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {% include 'dashboard/partials/sidebar.twig' %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="{{ path_for('dashboard.experiences.new', {username: auth.user.username}) }}" method="post">
                                <div class="form-group">
                                    <label for="company">Nom de la societe</label>
                                    <input type="text" name="company" id="company" value="{{ old.company }}" class="form-control{{ errors.company ? ' is-invalid' : '' }}">
                                    {% if errors.company %}
                                        <span class="invalid-feedback">{{ errors.company|first }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label for="position">Poste</label>
                                    <input type="text" name="position" id="position" value="{{ old.position }}" class="form-control{{ errors.position ? ' is-invalid' : '' }}">
                                    {% if errors.position %}
                                        <span class="invalid-feedback">{{ errors.position|first }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label for="tasks">Description des taches</label>
                                    <textarea name="tasks" id="tasks" cols="30" rows="10" class="form-control{{ errors.tasks ? ' is-invalid' : '' }}">{{ old.tasks }}</textarea>
                                    {% if errors.tasks %}
                                        <span class="invalid-feedback">{{ errors.tasks|first }}</span>
                                    {% endif %}
                                </div>

                                <div class="alert alert-info">Date de debut</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="start_day">Jour</label>
                                            <select name="start_day" id="start_day" class="form-control">
                                                {% include 'partials/days.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="start_month">Mois</label>
                                            <select name="start_month" id="start_month" class="form-control">
                                                {% include 'partials/months.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="start_year">Annee</label>
                                            <select name="start_year" id="start_year" class="form-control">
                                                {% include 'partials/years.twig' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="alert alert-info">Date d'obtension</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="graduation_day">Jour</label>
                                            <select name="graduation_day" id="graduation_day" class="form-control">
                                                {% include 'partials/days.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="graduation_month">Mois</label>
                                            <select name="graduation_month" id="graduation_month" class="form-control">
                                                {% include 'partials/months.twig' %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="graduation_year">Annee</label>
                                            <select name="graduation_year" id="graduation_year" class="form-control">
                                                {% include 'partials/years.twig' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
