{% if flash.getMessage('success') %}
    <div class="alert alert-success text-center" role="alert">
        <div class="container">
            {{ flash.getMessage('success')|first }}
        </div>
    </div>
{% endif %}

{% if flash.getMessage('info') %}
    <div class="alert alert-info text-center" role="alert">
        <div class="container">
            {{ flash.getMessage('info')|first }}
        </div>
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="alert alert-danger text-center" role="alert">
        <div class="container">
            {{ flash.getMessage('error')|first }}
        </div>
    </div>
{% endif %}
