<footer class="footer">
    <div class="container">
        <div class="copyright text-center">&copy; 2018 <a href="http://www.intelisressources.com">Intelis Ressources</a>. Tous droits réservés.</div>
    </div>
</footer>
