<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm" role="navigation">
    <div class="container">
        <a href="{{ path_for('home') }}" class="navbar-brand">Hub Experts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path_for('home') }}" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path_for('about') }}" class="nav-link">A Propos</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if auth.check %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ auth.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{{ path_for('dashboard', {username: auth.user.username}) }}" class="dropdown-item">Tableau de bord</a>
                            <a href="{{ path_for('auth.profile', {username: auth.user.username}) }}" class="dropdown-item">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path_for('auth.logout') }}" class="dropdown-item">Deconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path_for('auth.login') }}" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('auth.register') }}" class="btn btn-primary ml-2">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
