<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hub Experts</title>
    <link rel="image" type="image" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
    {% include 'partials/nav.twig' %}
    {% include 'partials/flash.twig' %}
    <div id="admin" class="mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-2">
              {% include 'admin/partials/sidebar.twig' %}
            </div>

            <div class="col-sm-12 col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="/js/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
