<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hub Experts</title>
    <link rel="image" type="image" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    {% block styles %}{% endblock %}
</head>
<body>
    {% include 'partials/nav.twig' %}
    {% include 'partials/flash.twig' %}
    {% block content %}{% endblock %}

    <script src="/js/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
