{% extends 'templates/app.twig' %}

{% block content %}
    <main class="mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4">
                    <h1>Login</h1>
                    <div class="card">
                        <div class="card-body">
                            <form action="{{ path_for('admin.login') }}" method="post">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>

                                <button type="submit" class="btn btn-success">Connexion</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
